// base
$bokl-color-white: #ffffff;
$bokl-color-white-1: #f7f7f7;
$bokl-color-black: #000000;

// purple
$bokl-color-purple: #00539b;

// light blue
$bokl-color-light-blue: #0076d5;
$bokl-color-light-blue-80: rgba(0, 118, 213, 0.8);
$bokl-color-light-blue-40: rgba(0, 118, 213, 0.4);

// green
$bokl-color-greeen: rgb(39, 203, 148); // #27cb94;

// grey
$bokl-color-graphite: #5c6161; // #3c4242;
$bokl-color-grey-1: #dddddd;
$bokl-color-grey-2: #8a8a8f;
$bokl-color-grey-3: #c8c7cc;
$bokl-color-grey-4: #3c4242;
$bokl-color-grey-5: #efeff4;

// Orange
$bokl-color-orange: rgb(255, 112, 51); // #ff7033;
