$bokl-spacer: 8px !default;

$bokl-spacing-1: $bokl-spacer * 0.5; // 4px
$bokl-spacing-2: $bokl-spacer * 1; // 8px
$bokl-spacing-3: $bokl-spacer * 2; // 16px
$bokl-spacing-4: $bokl-spacer * 3; // 24px
$bokl-spacing-5: $bokl-spacer * 4; // 32px
$bokl-spacing-6: $bokl-spacer * 5; // 40px
$bokl-spacing-7: $bokl-spacer * 6; // 48px
$bokl-spacing-8: $bokl-spacer * 7; // 56px
$bokl-spacing-9: $bokl-spacer * 8; // 64px
$bokl-spacing-10: $bokl-spacer * 9; // 72px
$bokl-spacing-11: $bokl-spacer * 10; // 80px
$bokl-spacing-12: $bokl-spacer * 11; // 88px
$bokl-spacing-13: $bokl-spacer * 12; // 96px
$bokl-spacing-14: $bokl-spacer * 13; // 104px
$bokl-spacing-15: $bokl-spacer * 14; // 112px
